:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

style {
  display: none;
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2,
h4 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
a {
  color: #0d6efd;
  text-decoration: underline;
}
*,
::after,
::before {
  box-sizing: border-box;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) .project-link {
  display: block;
  text-align: center;
  margin: 0 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

/* <--footer--> */
footer {
  background-color: var(--box-shadow);
  padding: 10px 0 25px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
footer .signature {
  font-family: "Sen", sans-serif;
  font-size: 14px;
  color: rgb(117, 117, 117);
  text-align: center;
}
footer .open-source-link {
  text-decoration: none;
  color: rgb(117, 117, 117);
  transition: all 150ms ease-in-out;
}
footer .open-source-link:hover {
  color: #527587;
  text-decoration: underline;
}
/* <--about-section--> */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 0 60px 0 60px;
}
.about-section-content {
  margin-right: 38px;
}
.about-section h1 {
  font-family: var(--heading-font-family);
  font-size: 20px;
  line-height: 41px;
}
.about-section h2 {
  font-family: var(--heading-font-family);
  font-size: 20px;
  line-height: 41px;
}
.about-section .about-section-row {
  padding-top: 100px;
}
.about-section-content .cv-link {
  font-family: var(--secondary-font-family);
  text-decoration: none;
  color: rgb(74, 100, 159);
  transition: all 150ms ease-in-out;
  font-weight: bold;
  font-size: 15px;
}
.about-section-content .cv-link:hover {
  color: #527587;
}

/* <--footer icons--> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.container .icon-container {
  display: grid;
  height: 100%;
  text-align: center;
  width: 100%;
  font-family: "Sen", sans-serif;
  place-items: center;
  background-color: var (--about-section--);
}
.wrapper a {
  color: #527587;
}
.wrapper {
  display: inline-flex;
  padding-bottom: 8px;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #0966c2;
  color: #ffffff;
}
.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover:hover .tooltip::before {
  background-color: #ed4034;
  color: #ffffff;
}

/* <--mediaQueries--> */
@media (max-width: 600px) {
  .hero {
    padding: 0 30px 0 30px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero img {
    width: 30px;
  }
  .hero p {
    font-size: 15px;
  }
  .second-page {
    display: none;
  }
  .project-page {
    padding: 0 30px 0 30px;
    min-height: 100vh;
  }
  .project-page h2 {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .project-page .illustration-img {
    width: 15px;
  }
  .project-page h3 {
    font-size: 15px;
    margin-bottom: 12px;
  }
  .project-page h4 {
    font-size: 14px;
  }
  .project-page p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .project-page .row {
    padding-bottom: 45px;
  }
  .project-page .placeholder-img {
    margin-bottom: 30px;
  }
  .btn-outline-portfolio {
    font-size: 13px;
  }
  .about-section {
    padding: 100px 30px 0 30px;
    min-height: 100vh;
    justify-content: start;
  }
  .about-section .about-section-row {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .about-section-content {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .about-section .profile-pic {
    max-width: 100%;
    height: 180px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .about-section h1 {
    font-size: 12px;
    line-height: 25px;
  }
  .about-section h2 {
    font-size: 12px;
    line-height: 25px;
  }
  .about-section .about-img {
    width: 18px;
  }
  .about-section .cv-link {
    font-size: 12px;
  }
  footer .signature {
    text-align: center;
    margin: 0 10px 10px 0;
  }
}
@media (min-width: 768px) {
  .about-section .profile-pic {
    max-width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .about-section {
    padding: 0 20px;
  }
  .about-section-content {
    margin-right: 0;
  }
}
